ptamm/thirdparty/agast/lib/
ptamm/thirdparty/gvars3/git_checkedout
ptamm/thirdparty/gvars3/sources/
ptamm/thirdparty/libcvd/git_checkedout
ptamm/thirdparty/libcvd/sources
ptamm/.cproject
ptamm/.project
ptamm/bin/
ptamm/build/
ptamm/cfg/PTAMVisualizerParams.cfgc
ptamm/cfg/PtamParams.cfgc
ptamm/cfg/cpp/
ptamm/docs/
ptamm/src/ptamm/cfg/PTAMVisualizerParamsConfig.py
ptamm/src/ptamm/cfg/PtamParamsConfig.py
ptamm_com/build/
ptamm_com/msg_gen/
ptamm_com/src/
ptamm_com/srv_gen/

/build
/Debug
*~
